/* typography */

@font-face {
    font-family: 'Norse';
    src: url('fonts/norse/Norse.woff2') format('woff2'),
        url('fonts/norse/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/norse/Norse-Bold.woff2') format('woff2'),
        url('fonts/norse/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
