/* typography */

@font-face {
    font-family: 'Norse';
    src: url('fonts/norse/Norse.woff2') format('woff2'),
        url('fonts/norse/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/norse/Norse-Bold.woff2') format('woff2'),
        url('fonts/norse/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* general */

h1,
h2,
h3,
h4,
p {
    color: #4a4a4a;
    line-height: 1.2;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.4px;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3px;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.2px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

p {
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    margin: 0;
    line-height: 1.88;
}

.hidden {
    display: none;
}

.accent {
    color: #ce973e;
}

.secondary {
    color: rgba(74,74,74,0.7);
}

a.button {
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 2.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.button-primary {
    background-color: #6abfc3;
}

.button-secondary {
    background-color: #cc9543;
}

.gray-bg {
    background: #f3f3f3;
}

.bold {
    font-weight: bold;
}

/* header */

header#top {
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    max-height: 100%;
    margin-bottom: 50px;
    display: flex;
    background: #ffffff;
}

div.brand {
    width: 250px;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a.imagotype {
    display: flex;
    align-items: center;
    text-decoration: none;
}

img.logo_image {
    height: 60px;
}

div.logo_text {    flex: 1;
    color: #cc9543;
    text-transform: uppercase;
    font-family: "Norse";
    letter-spacing: 0.4px;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    padding-left: 0.5em;
}

button.burguer {
    margin-right: 20px;
    position: absolute;
    top: 0;
    height: 68px;
    border: none;
    padding: 0;
    right: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border-radius: 0.25rem;
}

span.burguer-icon {
    display: block;
    height: 60px;
    background-image: url("../img/burguer-icon.svg");
    background-position: center;
    width: 1.5em;
    content: "";
    background-size: 100% 100%;
}

/* cover */

.cover {
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.gradient {
    background-image: linear-gradient(to bottom, #fff, #eee);
}

header#cover-head {
    padding-bottom: 3.75rem;
}

h1.cover-title {
    margin-bottom: 0;
    padding-bottom: 1.875rem;
}

p.cover-subtitle {
    padding-bottom: 4.375rem;
}

/* section how */

section.how {
    padding-top: 60px;
    min-height: 400px;
}

div.how-container {
    margin: 0 auto 3em;
    padding: 0 15px;
    text-align: center;
    max-width: 600px;
}

div.how-container > h2 {
    margin-bottom: 36px;
}

div.how-container > p {
    padding-top: 1em;
}

/* section features */

section.features {
    max-width: 1080px;
    margin: 0 auto 70px;
    text-align: center;
}

div.feature {
    padding: 1em;
}

img.feature-image {
    height: 80px;
}

h4.feature-subtitle {
    margin: 50px 0 20px;
}

div.feature-desc {
    padding: 0 32px;
}

/* section curriculum */

section.curriculum-title {
    padding-top: 60px;
    text-align: center;
}

section.curriculum-title > h2 {
    padding-bottom: 60px;
}

section.curriculum-details {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -15px;
}

div.curriculum-detail {
    height: 150px;
    margin: 0 auto 15px;
    padding: 25px;
    width: 270px;
    max-width: 270px;
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.05);
    background: #fff;
    text-align: center;
}

div.curriculum-detail > img {
    height: 80px;
    width: 80px;
}

section.curriculum-button {
    text-align: center;
    padding-bottom: 60px;
}

section.curriculum-button > a.button {
    margin: 40px 0 0;
}

/* section success */

section.success-title {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 0.3px;
}

section.success-title > h2 {
    margin-bottom: 0.5rem;
}

section.success-stories {
    margin-top: 20px;
    max-width: 1280px;
    min-height: 400px;
}

div.success-story:nth-last-child(-n+2) {
    display: none;
}

div.success-story {
    padding: 0 26px;
    max-width: 600px;
    margin: 0 auto;
}

div.success-subtitle {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.success-photo {
    display: none;
}

section.success-read {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

section.success-read > a {
    text-decoration: underline;
}
section.success-bottom {
    font-weight: 100;
    padding: 5em 2.5em;
    text-align: center;
}

p.success-bottom-title {
    font-size: 1.75rem;
    line-height: 1.5em;
    margin: 0 auto 3.5rem;
    max-width: 25em;
}

/* footer */

footer.bottom {
    background-color:
    #fff;
    padding: 0;
    text-align: center;
    font-size: 1em;
    min-height: 70px;
    width: 100%;
    position: relative;
    bottom: 0px;
}

/* Media query */

@media screen and (min-width: 480px) {
    
}