/* typography */

@font-face {
    font-family: 'Norse';
    src: url('fonts/norse/Norse.woff2') format('woff2'),
        url('fonts/norse/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/norse/Norse-Bold.woff2') format('woff2'),
        url('fonts/norse/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* general */

h1,
h2,
h3,
h4,
p {
    color: #4a4a4a;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1.2;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3px;
}

p {
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    margin: 0;
    line-height: 1.88;
}

.accent {
    color: #ce973e;
}

.secondary {
    color: rgba(74,74,74,0.7);
}

.primary {
    background-color: #6abfc3;
}

.bold {
    font-weight: bold;
}

/* header */

header#top {
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    max-height: 100%;
    margin-bottom: 50px;
    display: flex;
    background: #ffffff;
}

div.brand {
    width: 250px;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a.imagotype {
    display: flex;
    align-items: center;
    text-decoration: none;
}

img.logo_image {
    height: 60px;
}

div.logo_text {    flex: 1;
    color: #cc9543;
    text-transform: uppercase;
    font-family: "Norse";
    letter-spacing: 0.4px;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    padding-left: 0.5em;
}

button.burguer {
    margin-right: 20px;
    position: absolute;
    top: 0;
    height: 68px;
    border: none;
    padding: 0;
    right: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border-radius: 0.25rem;
}

span.burguer-icon {
    display: block;
    height: 60px;
    background-image: url("../img/burguer-icon.svg");
    background-position: center;
    width: 1.5em;
    content: "";
    background-size: 100% 100%;
}

/* cover */

.cover {
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.gradient {
    background-image: linear-gradient(to bottom, #fff, #eee);
}

header#cover-head {
    padding-bottom: 3.75rem;
}

h1.cover-title {
    margin-bottom: 0;
    padding-bottom: 1.875rem;
}

p.cover-subtitle {
    padding-bottom: 4.375rem;
}

a.button {
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 2.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

/* section how */

section.how {
    padding-top: 60px;
    min-height: 400px;
}

div.how-container {
    margin: 0 auto 3em;
    padding: 0 15px;
    text-align: center;
    max-width: 600px;
}

div.how-container > h2 {
    margin-bottom: 36px;
}

div.how-container > p {
    padding-top: 1em;
}

/* Media query */

@media screen and (min-width: 480px) {
    
}